/* Fonts */
@font-face {
  font-family: 'Dancing Script Regular';
  src: url('/fonts/Dancing_Script/DancingScript-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script Medium';
  src: url('/fonts/Dancing_Script/DancingScript-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script Bold';
  src: url('/fonts/Dancing_Script/DancingScript-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans Thin';
  src: url('/fonts/Josefin_Sans/static/JosefinSans-Thin.ttf');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans Light';
  src: url('/fonts/Josefin_Sans/static/JosefinSans-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans Regular';
  src: url('/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans Medium';
  src: url('/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans Bold';
  src: url('/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Regular';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Italic';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Medium';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Bold';
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


@font-face {
  font-family: 'Lora Regular';
  src: url('/fonts/Lora/static/Lora-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lora Medium';
  src: url('/fonts/Lora/static/Lora-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Lora Bold';
  src: url('/fonts/Lora/static/Lora-Bold.ttf');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('/fonts/Merriweather/Merriweather-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Medium';
  src: url('/fonts/Merriweather/Merriweather-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url('/fonts/Merriweather/Merriweather-Bold.ttf');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Light';
  src: url('/fonts/Merriweather/Merriweather-Light.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

